USE [BL_Enterprise]
/*
   Friday, January 5, 202410:28:59 AM
   User: 
   Server: ERIC-PC
   Database: BL_Enterprise
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.tblOrdersWholesale ADD
	LastEditTime datetime NULL,
	LastEditor nvarchar(100) NULL
GO
ALTER TABLE dbo.tblOrdersWholesale SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
